//COLORS
$color-primary: #0A4780;
$color-hub: #171E2A;
$color-backgroung-light: #153656;
$color-primary-dark: #D26740;
$color-btn:#025A9E;
$color-outline:#DADADA;
$color-outline-deep:#878585;
$border-line:#005EA6;

$color-head-circle: #0E253B;
$color-heading-line: #2EC2A5;

$color-black: #000;
$color-gray: #8C8C9C;
$color-white-text: #FEFFFE;
$color-white: #fff;
$color-logo:#0A4780;
$color-icon:#153656;


$color-chose: #001E00;
$colo-btnc: #108A00;


// Out of design

$color-button-main:#045B9D;
$color-background-hom:#f9fdfc;

$color-black-light:rgba(0, 0, 0, 0.8);

$color-black-cap: #3A3A3A;
$color-text-black: #111111;
$color-grey: #707070;
$color-read-more:#18BC9C;

$color-read-deep:#044538;
$color-service:#F1FEF8;
$color-service-t:#404145;
$color-service-tp:  #62646A;
$color-job-txt:#12151B;
$color-background-post:#2c3E50;

// FONT
$default-font-size: 1.6rem;


//GRID
$grid-width: 114rem;
$gutter-vertical:3rem;
$gutter-vertical-small:6rem;
$gutter-horizontal:6rem;